p {
    color: #f2f2f2;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5vh
}

.info {
    color: #e8630a;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 5px;
    padding: 10vh;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    max-width: 300px;
}

.map {
    margin: 15px;
    grid-column: 1 / -1;
    width: 25vh;
    height: 15vh;
}