html {
    background-color: #222831;
    color: #2b4353;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

#content {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

[data-tab-content] {
    display: block;
}

li:hover {
    color: #e8630a;
}

header {
    background-color: black;
    color: #f2f2f2;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#title-container {
    display: flex;
    flex-grow: 2;
    color: #e8630a;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25vh;
    margin-right: 25vh;
    gap: 50px;
    flex-grow: 1;
    list-style-type: none;
}

li:hover, h1:hover {
    cursor: pointer;
}

h1 {
    font-size: 48px;
}

.fade-in {
    animation: fadeIn 2s;
}

.tab-highlight {
    color: #e8630a;
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
